target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*.class
*.jar
*.war

.idea/
*.iws
*.iml
*.ipr
.vscode/

HELP.md
.mvn/
mvnw
mvnw.cmd

.env
application-local.properties